/* Debugging Code */
/*
* {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
}
*/
/*Global*/
body{
	background-color: #eee;
}
a {
	text-decoration: none;
}

/*Header*/
header {
	background-color: #fff;
	overflow: auto;
}
.nav-menu {
	text-decoration: none;
	margin: 10px;
	padding-right: 20px;
	float: right;
	font-size: 20px;
	border: 2px solid black;
}
.nav-menu li {
	display: inline-block;
	padding: 10px 10px;
	border-bottom: 1px solid black;

}
.homename {
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px 20px;
	margin: 10px;
	border: 3px solid black;
	font-size: 25px;
	float: left;
}